.classUL{
position:absolute;
color:black;
background-color:red;
color:white;
font-family:impact;
word-break:break-all;
}
.class:active{
position:absolute;
color:black;
background-color:blue;
color:red;
font-family:impact;
word-break:break-all;
}
#par{
color:black;
}